body {
    font-family: Verdana, sans-serif;
    /* Första uppgiften med att ändra font */
    background-color: aqua;
}

article,
footer {
    background-color: blanchedalmond
}

a {
    color: rgb(105, 92, 70);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* Ändrade så att alla länkar bara har understäck när den är i "hover" läge. */
}

.left {
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

.right {
    display: flex;
    flex-direction: column;
    /* Alla dessa tre är för flexbox. Nu i efterhand så skulle jag kunnat göra en container- */

    margin: 1rem;

}

.footer {
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

img {
    max-width: 30rem;
    /* För att bilderna tog upp majoriteten av skärmen så gjorde jag dem minde. */
}